header {
    z-index: 100;
    position: sticky;
    height: fit-content;
    z-index: 90;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .3s ease;

    color: var(--color-primary);
    mix-blend-mode: difference;

    * {
        color: var(--color-primary);
        mix-blend-mode: difference;
        border-bottom: 0;
        font-size: var(--font-size--1);
    }

    .out {
        transform: translateY(-100%);
    }

}

.header__top {
    display: flex;
    // grid-template-columns: 1fr 1fr;
    align-content: space-between;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem var(--padding);
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 90;

}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;

    position: relative;
}

.header__column {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
}

.header__top__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
    // width: fit-content;
    // width: calc(100% - 180px - 20.9rem);
    width: calc(50% - var(--gap) - var(--padding) + 5px);
    position: fixed;
    right: calc(var(--padding) + 5px);
    transition: all .3s ease;
.header__navigation{
    transition: all .3s ease;

    &.out{
        
        transform: translateY(-100%);
    }
}
    &.out {

    }
}

.header__top__logo {
    text-decoration: none;
    font-size: var(--font-size--1);
}




.header__burger__menu {
    position: fixed;
    transform: translateY(100vh);
    width: 100%;
    height: calc(93vh - var(--padding));
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;

    transition: all .3s;
    z-index: 80;
    overflow-y: auto;
    // padding-top: var(--padding);

    text-align: center;

    // visibility: hidden;
    text-wrap: nowrap;
    color: var(--color-primary);
    // mix-blend-mode: difference;

    background-color: var(--color-red);

    &._red {
        background-color: #FF4903;

        * {
            color: #000;
        }
    }

    &._purple {
        background-color: #FF6CF1;
       
        * {
            color: #000;
        }
    }

    &._green {
        background-color: #029954;

        * {
            color: #000;
        }
    }

    &._yellow {
        background-color: #EDFF55;

        * {
            color: #000;
        }
    }

    &._blue {
        background-color: #AD55FF;

        * {
            color: #000;
        }
    }

    &._color_5 {
        background-color: #EEE6CF;

        * {
            color: #000;
        }
    }
    &._color_6 {
        background-color: #A2726E;

        * {
            color: #000;
        }
    }

    .header__burger__menu-list {

        * {
            // color: var(--color-primary);
            // mix-blend-mode: difference;
        }
    }

    .header__burger__links {
        display: flex;
        flex-direction: column;
        width: 100%;

        a {
            // transform: translateY(-100%);
            border-bottom: 0;
            display: inline-block;
            width: 100%;
            padding: var(--padding) var(--margin-width-50) var(--padding);
            text-decoration: none;
            font-size: var(--font-size-0);
            text-transform: uppercase;
            // font-weight: var(--font-weight-regular);
            font-weight: var(--font-weight-medium);
            transition: all .1s;
            text-align: left;

            &:hover {
                background-color: #fff;
                color: #000;
            }
        }
    }

    &._open {
        transform: translateY(0);

        // visibility: visible;
        // width: 100%;

        @media screen and (max-width:767px) {
            // top: 54px;
        }

        .menu-burger-container {
            visibility: visible;
        }
    }
}

.menu-burger-container {
    transition: all .1s;

    position: fixed;
    left: 0;
    right: 0;
    visibility: hidden;
}

.header__top__burger {
    position: relative;
    top: -3px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 17px;
    height: 17px;
    cursor: pointer;

}

.bar,
.bar:after,
.bar:before {
    width: 17px;
    height: 2px;
}

.bar {
    position: relative;
    transform: translateY(10px);
    background: white;
    transition: all 0ms 200ms;
}

.bar.animate {
    background: rgba(255, 255, 255, 0);
}

.bar:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    background: white;
    transition: bottom 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar:after {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    background: white;
    transition: top 200ms 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:after {
    top: 0;
    transform: rotate(45deg);
    transition: top 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.bar.animate:before {
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 200ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.header__navigation {
    text-transform: lowercase;

    // &._contact {
    // }
}



.header__page-nav {
    padding: 1.5rem var(--padding);
    position: fixed;
    // top: calc(3 * var(--padding));
    left: var(--padding);
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: fit-content;

    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem 0;

    z-index: 100;

    li {
        list-style: none;
    }

    a {
        font-size: var(--font-size-0);
        font-weight: 400;
        text-decoration: none;
        color: var(--color-text-grey);

        // &.active {
        //     color: var(--color-text-primary);
        // }

        // &:hover {
        //     color: var(--color-text-primary);

        // }

    }
}

.header__navigation__links {

    display: flex;
    flex-direction: row;
    // gap: 0.7rem 1rem;
    gap: .5rem;
    padding: 1rem 0;



    a {
        // text-decoration: none;
    }

}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1220px) {


    .header__top {
        padding: 1.5rem calc(var(--padding));
    }

}

@media screen and (max-width: 1024px) {
    .header__top {
        padding: 1.5rem var(--padding);
    }

    .header__navigation {
        &._main {
            display: none;
        }
    }


    .header__top__right {
        width: fit-content;

        &.out {
            transform: translateY(-190%);
        }
    }

    .header__column {
        gap: 1rem;
    }
}

@media screen and (max-width: 767px) {
    .header {
        border: 0;
        overflow: visible;
    }

    .bar,
    .bar:after,
    .bar:before {
        // width: 21px;
        height: 1.8px;
    }

    .header__top {
        height: 54px;
        position: fixed;
        // border-bottom: 0;
    }

    .header__burger__menu {
        height: calc(93dvh - 1.5 * var(--padding));

        .header__burger__links {


            a {
                padding: var(--padding) var(--padding);
            }
        }
    }

    .header__top__right {
        right: var(--padding);
    }
}

// @keyframes slideInFromTop {
//     from {
//         transform: translateY(-40px);
//         opacity: 0;
//     }

//     to {
//         transform: translateY(0);
//         opacity: 1;
//     }
// }

// .slide-in-text {
//     animation: slideInFromTop 1s ease forwards;
//     opacity: 0;
// }

// .header__burger__menu._open .header__burger__links li a {
//     opacity: 0;
// }