.contacts-block {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
}

.contacts-block__content {
    display: flex;
    flex-direction: column;
    gap: .5rem;

    width: 50%;
    padding-right: 15%;
}

.contacts-block__description {
    margin-top: 1rem;

    * {
        color: var(--color-text-grey);
    }
}

.contacts-block__links {
    margin-top: 2.5rem;
}

.contacts-block__image {
    width: 50%;
}

.contacts-block__image__source {
    width: 100%;
    height: auto;
    object-fit: cover;
    // border-radius: 1rem;
}


.contacts-block__description__links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;

    li {
        list-style: none;
    }

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        // padding: 0.6rem 1rem;
        // background: rgba(23, 26, 30, 0.5);
        // background: var(--color-background-card);
        // background: rgba(255, 255, 255, 0.1019607843);
        // text-decoration: none;
        // width: -moz-fit-content;
        // width: fit-content;
        // position: relative;
        // z-index: 1;

        // border-radius: 100px;

        // &:hover {
        //     color: var(--color-text-primary);
        //     background: #c8d0db4c;
        // }
    }
}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1220px) {}

@media screen and (max-width: 1024px) {

    .contacts-block {
        flex-direction: column;
        gap: calc(2 * var(--grid-gap));
    }

    .contacts-block__content {
        width: 100%;
        padding-right: 0;
    }

    .contacts-block__image {
        width: 100%;
    }
}

@media screen and (max-width:767px) {}