.section__post-list__mini__wrapper {
    position: relative;
    gap: 0;
    padding-bottom: calc(var(--padding) * 2);
    padding-top: 0;

    h2 {
        margin-bottom: 0 !important;
    }
}

.section__post-list__mini__heading {
    width: var(--width-50-parent-padding);
    margin-right: auto;
    padding-right: var(--padding);
    margin-left: var(--margin-width-50);
    margin-bottom: calc(var(--gap) * .7);
}

.filter-bar--mini {
    width: var(--width-50-parent-padding);
    margin-right: auto;
    padding-right: var(--padding);
    margin-left: var(--margin-width-50);
    margin-bottom: 2rem;

    display: flex;
    gap: .6rem;
    flex-wrap: wrap;
}

.section__post-list__mini__grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: var(--padding);
    padding-right: var(--padding);

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    gap: var(--gap);
    row-gap: var(--row-gap);
    justify-content: space-between;
    align-content: stretch;
}

@media screen and (max-width: 1220px) {
    .section__post-list__mini__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 767px) {
    .section__post-list__mini__heading {
        padding: 0 var(--padding);
        width: 100%;
        margin-left: 0;
    }

    .filter-bar--mini {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        width: 100%;
        padding: 0 var(--padding);
        margin-bottom: 1.5rem;
        margin-left: 0;
    }

    .filter-bar--mini::-webkit-scrollbar {
        display: none;
    }
}

// 480px
@media screen and (max-width: 600px) {
    .section__post-list__mini__grid {
        grid-template-columns: repeat(1, 1fr);
        padding-right: 0;
        gap: 0;
        row-gap: 0;
    }
}