.experience-block {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    // border-top: 1px solid (var(--color-gray-dark));
}

.experience-block__description {
    width: calc(2 * (100% / 3));
    width: 100%;

    *,
    p {
        font-size: var(--font-size-3);
        font-weight: 500;
    }
}

.experience-list__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;

    border-top: 1px solid var(--color-text-gray);
    padding: 3rem 0;
}

.experience-list__name {
    grid-column: 1/2;
}

.experience-list {
    width: 100%;
    grid-column: 2/4;

    .experience-item:not(:first-child) {
        border-top: 1px solid var(--color-text-gray);
        padding: 3rem 0 0;
    }
}

.experience-item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 3rem;
}

.experience-item__title {
    display: grid;
    grid-template-columns: 2.5rem 1fr;
    grid-column: 1/2;
    grid-row: 1/2;
}

.experience-item__title-content {
    margin-left: 1rem;
}

.experience-item__img {
    border-radius: 100px;
    object-fit: cover;
    width: 2.5rem;
    height: 2.5rem;
    background-color: aliceblue;

    // position: absolute;
    // left: -5rem;
    // top: .5rem;

    grid-column: 1/2;
    grid-row: 1/2;

}



.experience-item__company {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-regular);
    // grid-column: 2/3;
    // grid-row: 1/2;

}



.experience-item__position {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-regular);
    // margin-top: .7rem;
    // grid-column: 2/3;
    // grid-row: 1/2;

}

.experience-item__content {
    width: 100%;
    position: relative;
    grid-column: 2/3;
    grid-row: 1/2;
}

.experience-item__year {
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-regular);

    margin-top: .3rem;
    color: var(--color-text-gray);

    // grid-column: 2 / 3;
    // grid-row: 1 / 1;
    margin-top: .4rem;

}

.experience-item__description {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-regular);
    color: var(--color-text-gray);
    margin-top: .4rem;
}

@media screen and (max-width: 1600px) {
    
}

@media screen and (max-width: 1220px) {

}
@media screen and (max-width: 1024px) {
  .experience-list__wrapper{
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

@media screen and (max-width: 767px) {

}
@media screen and (max-width: 480px) {
    .experience-item{
        display: flex;
        flex-direction: column;
        gap: 1.2rem;
    }
}