.section__welcome-block {
    height: fit-content;
    min-height: 100vh;
    margin: 0;
}

.section__welcome-block__content {
    grid-column: 4/12;
    height: fit-content;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: start;
    height: 100%;
}

.welcome-block__text {
    padding-right: 3rem;

    * {
        font-size: var(--font-size-5);
        line-height: 110%;
        font-weight: var(--font-weight-regular);
        font-weight: 400;
    }
}

.welcome-block__caption,
.welcome-block__caption * {
    color: var(--color-text-gray);
    font-size: var(--font-size-2);
    line-height: 110%;
    font-weight: var(--font-weight-regular);
    font-weight: 400;
}



@media screen and (max-width: 1600px) {
    .section__welcome-block__content {
        grid-column: 3/12;
    }
}

@media screen and (max-width: 1220px) {
    .section__welcome-block__content {
        grid-column: 2/12;
    }
}

@media screen and (max-width: 767px) {
    .section__welcome-block {
        min-height: calc(100vh - 54px);
        padding: 8rem var(--padding) 0;
        // padding: 7rem var(--padding);
        // justify-content: space-between;
    }

    .section__welcome-block__content {
        grid-column: 1/12;
        justify-content: flex-start;
    }

    .welcome-block__text {
        padding-right: 1.5rem;

        * {
            font-size: var(--font-size-3);
            line-height: 110%;
            font-weight: var(--font-weight-regular);
            font-weight: 400;
        }
    }

    .welcome-block__caption,
    .welcome-block__caption * {
        font-size: var(--font-size-1);
        padding-right: 1.5rem;
    }

}