.section__welcome-block {
    height: fit-content;
    min-height: 70vh;
    min-height: 85vh;
    padding: 9rem var(--padding);
    display: flex;
    flex-direction: column;
    // justify-content: flex-end;
}

.welcome-block__text {
    padding-right: 3rem;

    * {
        font-size: var(--font-size-5);
        line-height: 110%;
        font-weight: var(--font-weight-regular);
        font-weight: 400;
    }
}



.welcome-block__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


@media screen and (max-width: 767px) {
    .section__welcome-block {
        min-height: 65vh;
        padding: 7rem var(--padding);
    }

    .welcome-block__content {
        grid-column: 1 / 13;
    }

    .welcome-block__text {
        * {
            font-size: var(--font-size-3);
            line-height: 110%;
            font-weight: var(--font-weight-regular);
            font-weight: 400;
        }
    }

    .welcome-block__text {
        padding-right: 1.5rem;
    }

}