.section__post-list__big__wrapper {
    position: relative;
    z-index: 1;
    gap: 0;
    // padding-bottom: 15rem;
    padding-bottom: 0;
    padding-top: 0;
    padding-bottom: calc(var(--padding) * 2);

    .post-card__big {
        &:not(:first-child) {
            // padding-top: 3rem;
        }

        &:first-child {
            // border-top: 0;
        }
    }
}

.section__post-list__big {
    display: flex;
    flex-direction: column;
    gap: 14rem;

    padding: 0 var(--padding);
}


.opacity {
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    opacity: 0.6;
}

.scale {
    moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    width: 95%;
}


.section__post-list__big__title {}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1220px) {}

@media screen and (max-width: 1024px) {

    .section__post-list__big {
        gap: 7rem;
    }
}

@media screen and (max-width: 1220px) {}

@media screen and (max-width: 767px) {
    .section__post-list__big__wrapper {
        padding-bottom: 0;
    }

    .section__post-list__big {
        padding: 0;
    }
}

.section__post-list__big__heading {
    width: var(--width-50-parent-padding);
    margin-right: var(--padding);
    margin-left: auto;
    --medium-margin: 9rem;
    --small-margin: 5rem;
}

.filter-bar {
    display: flex;
    gap: .6rem;
    margin-bottom: 2rem;
    flex-wrap: nowrap;
    width: 100%;
    margin-left: auto;
}

.filter-btn {
    background-color: transparent;
    border: none;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    color: var(--color-text-grey);
    cursor: pointer;
    font-size: var(--font-size-0);
    transition: background-color 0.3s ease;
    padding: .3rem .7rem;
    border: 1px solid currentColor;
}

.filter-btn.active {
    // background-color: #4CAF50;
    color: var(--color-text-primary);
}

.reset-btn {
    color: #f44336;
}

@media screen and (max-width: 767px) {
    .filter-bar {}
}