.section__post-list__big__wrapper {
    position: relative;
    gap: 0;
    // padding-bottom: 15rem;
    padding-bottom: 0;
    padding-top: 0;
    padding-bottom: calc(var(--padding) * 2);

    h2 {
        margin-bottom: 0 !important;
    }

    .post-card__big {
        &:not(:first-child) {
            // padding-top: 3rem;
        }

        &:first-child {
            // border-top: 0;
        }
    }
}
.section__post-list__big__heading {
    width: var(--width-50-parent-padding);
    margin-right: auto;
    padding-right: var(--padding);
    margin-left: var(--margin-width-50);
    margin-bottom: calc(var(--gap) * .7);
    --medium-margin: 9rem;
    --small-margin: 5rem;
}

.section__post-list__big {
    scroll-margin-top: 80px; /* Отступ сверху */
    scroll-margin-top: calc(1.25 * var(--font-size-0)); /* Отступ сверху */
    display: flex;
    flex-direction: column;
    gap: 14rem;

    padding: 0 var(--padding);
}


.opacity {
    -moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    opacity: 0.6;
}

.scale {
    moz-transition: 0.4s ease;
    -ms-transition: 0.4s ease;
    -o-transition: 0.4s ease;
    transition: 0.4s ease;
    -webkit-transition: 0.4s ease;
    width: 95%;
}


.section__post-list__big__title {}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1220px) {}

@media screen and (max-width: 1024px) {

    .section__post-list__big {
        gap: 7rem;
    }
}

@media screen and (max-width: 1220px) {}

@media screen and (max-width: 767px) {
    .section__post-list__big__heading {
        padding: 0 var(--padding);
        width: 100%;
    }

    .section__post-list__big__wrapper {
        padding-bottom: 0;
    }

    .section__post-list__big {
        padding: 0;
    }
}



.filter-bar {
    width: var(--width-50-parent-padding);
    margin-right: auto;
    padding-right: var(--padding);
    margin-left: var(--margin-width-50);
    margin-bottom: 9rem;

    display: flex;
    gap: .6rem;
    flex-wrap: wrap;
    // position: sticky;
    // top: calc(-.5 * var(--padding));
    // z-index: 80;
    mix-blend-mode: difference;
}

.filter-btn {
    background-color: transparent;
    border: none;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-size: var(--font-size-0);
    transition: background-color 0.3s ease;
    padding: .3rem .7rem;
    border: 1px solid currentColor;
    height: calc(2 * var(--font-size-0));
    min-width: calc(2 * var(--font-size-0));
    color: var(--color-secondary-blend);
}

.filter-btn.active {
    // background-color: #4CAF50;
    // color: var(--color-text-primary);
    color: var(--color-primary-blend);

}

.filter-btn.more-btn {
    // background: transparent;
    // border: none;
    // cursor: pointer;
    // font-size: 16px;
}

.category-hidden {
    display: none !important;
}

.filter-btn.more-btn.expanded {
    // color: var(--color-text-primary);
    // color: var(--color-secondary-blend);

    /* Подсветка активной стрелки */
    // font-weight: bold;
}

@media screen and (max-width: 767px) {
    .filter-bar {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        /* Для плавности на iOS */
        scrollbar-width: none;
        /* Убираем скроллбар в Firefox */
        // top: 0;
        width: 100%;
        padding: 0 var(--padding);
        margin-bottom: 1rem;
    }

    .filter-bar::-webkit-scrollbar {
        display: none;
        /* Убираем скроллбар в Chrome/Safari */
    }

    .filter-btn {
        flex-shrink: 0;
        white-space: nowrap;
    }
}