.post-card__big {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
    position: relative;
    height: 100vh;
    overflow: hidden;

    position: sticky;
    top: 70px;

    background-color: var(--color-primary);

    box-shadow: 0 -20px 40px 0 rgba(3, 3, 3, 0.5), 0 -5px 10px 0 rgba(0, 0, 0, 0.38);

    border-top: 1px solid #999;
}



.post-card__big__content__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    // gap: 138px;
    padding: 3.75rem var(--wp--preset--spacing--30) 130px var(--wp--preset--spacing--30);

    grid-column: 1 / 5;
    position: relative;
    z-index: 10;

    // background-color: #000000a6;
    // backdrop-filter: blur(20px);



}

.post-card__big__content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 52px;
    position: relative;
    z-index: 5;
}

.post-card__big__title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.post-card__big__heading {
    font-weight: 500;
    font-size: var(--font-size-1);
    line-height: var(--font-size-1);
}

.post-card__big__short-description {}

.post-card__big__meta {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}

.post-card__big__meta__item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 22px;

    border-top: 1px solid #999;
    padding: 13px 0px;
    width: 100%;
}

.post-card__big__meta__item__variable {
    color: var(--color-secondary);
    font-size: var(--font-size--1);
}

.post-card__big__meta__item__value {
    a{
        font-size: var(--font-size--1);
    }
    font-size: var(--font-size--1);
}

.post-card__meta__team {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
}

.post-card__meta__team__images__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: -11px;
}

.post-card__meta__teaam__imge__source {
    border: 3px solid var(--color-primary);
    border-radius: 152px;
    padding: 3px;
    width: 28px;
    height: 28px;
    /* background: #fff; */
    margin: 0;
    padding: 0;

    &:not(:first-child) {
        margin-left: -15px;

    }
}

.post-card__meta__team__name,
.post-card__meta__team__name a {
    color: var(--color-secondary);
}

.post-card__big__gallery__background {
    position: absolute !important;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    z-index: 0;

    &* {
        pointer-events: none;
    }

    &::after {
        content: "";
        position: absolute;
        width: 70vw;
        height: 100vh;
        background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, #000 30.51%);
        z-index: 0;
        top: 0;
        left: -50vw;
    }

    .f-carousel__viewport.is-draggable {
        overflow: visible;
    }

    .post-card__big__gallery__img__source {
        filter: blur(68px);
        opacity: .5;
    }
}

.post-card__big__gallery {
    padding: 3.75rem var(--wp--preset--spacing--30) 3.75rem var(--wp--preset--spacing--30);

    position: relative;
    width: 100%;
    height: 100%;
    max-height: calc(100vh - 75px);

    grid-column: 6 / 13;
    z-index: 5;

    .f-carousel {
        height: 100%;
    }

    .f-carousel__slide {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;

        &:hover {
            opacity: 1;
        }
    }
}

.post-card__big__gallery__img__source {
    object-fit: contain;
    width: 100%;
    height: 100%;
    // aspect-ratio: 4 / 3;

    &._cover {
        // aspect-ratio: 1 / 1;
        // object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 767px) {
    .post-card__big {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding: 0;
        height: fit-content;
        position: relative;
        top: 0;
    }

    .post-card__big__gallery__img__source {
        aspect-ratio: 1/1;

        &._cover {
            // object-fit: cover;
            // width: 100%;
            // height: auto;
        }
    }

    .post-card__big__content__wrapper {
        padding: 0 var(--wp--preset--spacing--30) 3rem;
        gap: 1rem;
    }

    .post-card__big__content {
        gap: 2rem;
    }

    .post-card__big__meta__item {
        padding: .5rem 0px;
    }

    .post-card__big__gallery {
        aspect-ratio: 1 / 1;
        height: auto;
        padding: 0;

        .f-carousel {
            height: 100%;
        }
    }
}

@media screen and (max-width: 600px) {
    .post-card__big__gallery {
        .f-carousel {
            height: auto;
        }
    }
}