.post-card__big {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
    gap: 0;
    position: relative;
    height: fit-content;
    overflow: hidden;

    background-color: var(--color-primary);


    // border-top: 1px solid var(--color-gray-dark);
    overflow: visible;
    padding-right: var(--padding);
}



.post-card__big__content__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    grid-column: 9 / 13;
    position: relative;
    z-index: 10;
    // padding: 20px;
    padding: 0 0 0 var(--padding);
    gap: 2rem;
    // gap: 1rem;
    // background-color: var(--color-background-card);
    height: fit-content;
    height: 100%;
    // border-radius: 1rem;
}

.post-card__big__content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    z-index: 5;
}

.post-card__big__title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
}

.post-card__big__heading {
    font-weight: 400;
    font-size: var(--font-size-1);
    line-height: var(--font-size-1);
    z-index: 10;

    &._mobile {
        padding: var(--padding);
    }
}

.post-card__big__short-description {
    * {
        color: #999;
        color: var(--color-text-primary);
    }
}

.post-card__big__meta {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    width: 100%;
}

.post-card__big__meta__item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 22px;

    border-top: 1px solid var(--color-gray-dark);
    padding: 13px 0px;
    width: 100%;

    * {
        font-size: var(--font-size-0);
    }
}

.post-card__big__meta__item__variable {
    color: var(--color-secondary);
}

.post-card__meta__team {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 8px;
    position: relative;
}

.post-card__meta__team__images__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: -11px;
}

.post-card__meta__teaam__imge__source {
    // border: 3px solid var(--color-primary);
    border: 3px solid rgb(47, 47, 47);
    border: 3px solid #1A1A1A;
    border: 3px solid var(--color-primary);
    border-radius: 152px;
    padding: 3px;
    width: 28px;
    height: 28px;
    /* background: #fff; */
    margin: 0;
    padding: 0;

    &:not(:first-child) {
        margin-left: -13px;
    }

    &:first-child {
        z-index: 5;
    }

    &:nth-child(2) {
        z-index: 4;
    }

    &:nth-child(3) {
        z-index: 3;
    }

    &:nth-child(2) {
        z-index: 2;
    }
}

.post-card__meta__team__name {
    font-size: var(--font-size-0);
    color: var(--color-secondary);

    * {
        font-size: var(--font-size-0);
        color: var(--color-secondary);
    }

    a {
        &:hover {
            color: var(--color-link-hover);
        }
    }
}


.post-card__big__content__bottom {
    width: 100%;
    display: flex;
    flex-direction: row;

    a {
        width: 100%;
    }
}

.post-card__big__gallery__background {
    position: absolute !important;
    top: 0;
    // left: calc(-1 * var(--padding));
    bottom: 0;
    z-index: 0;
    filter: blur(60px);
    opacity: .4;
    overflow: visible;
    width: 100%;
    height: 100%;
    padding: 0 var(--padding);
    top: 50%;
    bottom: 50%;
    right: 50%;
    left: 50%;
    // transform: scale(1.2) translate(-50%, -50%);
    transform: translate(-50%, -50%);

    &* {
        pointer-events: none;
    }

    .post-card__big__gallery__background__source {
        width: 100%;
        height: auto;
        aspect-ratio: 4/3;
        object-fit: cover;
    }
}

.post-card__big__gallery {
    padding: 0 0 0 var(--padding);
    padding: 0 var(--padding);

    position: relative;
    width: 100%;
    height: 100%;
    grid-column: 1 / 9;
    z-index: 5;

    .f-carousel {
        border-radius: 1rem;
        overflow: hidden;
    }

    .f-carousel.has-dots {
        margin-bottom: 0;
    }

    .f-button {
        top: auto !important;
        bottom: .5rem;
        // transform: translateY(128%) !important;
        transform: translateY(0) !important;

        &.is-prev {
            left: auto !important;
            right: 3.2rem !important;
        }

        &.is-next {
            right: .5rem !important;

        }
    }

    .f-carousel__dots {
        // transform: translateY(156%) !important;
        // position: relative;
        // margin: .1rem 0 !important;
        left: .5rem !important;
        right: auto !important;
        bottom: .5rem !important;
    }

    .f-carousel__nav {
        position: relative;
    }

    .f-carousel__slide {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        // height: 100%;
        aspect-ratio: 4 / 3;

        &:hover {
            opacity: 1;
        }
    }
}

.post-card__big__gallery__img__source {
    object-fit: contain;
    width: 100%;
    height: 100%;
    object-fit: cover;

    // &._cover {
    //     // aspect-ratio: 1 / 1;
    //     // object-fit: cover;
    //     width: 100%;
    //     height: 100%;
    // }
}

// @media screen and (max-width: 767px) {

@media screen and (max-width: 1220px) {
    .post-card__big {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: fit-content;
        position: relative;
        // gap: 1rem;
        gap: 0;
        padding: 0 var(--padding);

        .f-carousel__dots {
            left: 0 !important;
            right: 0 !important;
            bottom: .5rem !important;
        }
    }

    .post-card__big__gallery__img__source {
        // aspect-ratio: 1/1;

        &._cover {
            // object-fit: cover;
            // width: 100%;
            // height: auto;
        }
    }

    .post-card__big__content__wrapper {
        // padding: 20px;
        // margin: 0 1rem;
        padding: var(--padding) 0;
        gap: 2rem;
    }


    .post-card__big__meta__item {
        padding: .5rem 0px;
    }

    .post-card__big__gallery {
        // aspect-ratio: 1 / 1;
        // height: auto;
        padding: 0;

        .f-carousel {
            // height: 100%;

        }

        .f-carousel__dots {
            margin: .1rem auto !important;
        }

    }

    .post-card__big__gallery__background {
        padding: 0;
    }
}

@media screen and (max-width: 767px) {
    .post-card__big {
        padding: 0;

    }


    .post-card__big__content__wrapper {
        padding: var(--padding);
        gap: 1.5rem;
    }

    .post-card__big__gallery {
        .f-carousel {
            border-radius: 0;
        }
    }
}

@media screen and (max-width: 600px) {
    .post-card__big__gallery__background {
        overflow-x: hidden;
    }

    .post-card__big__gallery {
        .f-carousel {
            height: auto;
        }
    }
}