.section__first-screen {
    height: 98vh;
    max-height: 98vh;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    padding-bottom: 6rem;
}

.section__first-screen__content {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    position: relative;
    z-index: 5;
}


.first-screen__text,
.first-screen__text * {
    font-size: var(--font-size-4);
    line-height: 90%;
    font-weight: var(--font-weight-medium);
    color: var(--color-text-primary);
}

.first-screen__caption,
.first-screen__caption * {
    color: var(--color-text-grey);
    font-size: var(--font-size-1);
    line-height: 110%;
    font-weight: var(--font-weight-regular);
    margin-bottom: 0;
}

.first-screen__image {
    width: 100%;
    height: 100%;
    position: relative;
}

.first-screen__image__source {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1220px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 1024px) {
    .section__first-screen__content {
        flex-direction: column;
        gap: .5rem;
        align-items: flex-start;
    }
}

@media screen and (max-width: 767px) {
    .section__first-screen {
        // margin-top: -45px;
    }
}