.section__first-screen {
    height: calc(94vh - var(--padding));
    min-height: 550px;
    max-height: 1600px;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    // padding-bottom: 6rem;
}

.first-screen-title {
    width: calc(49.75%);
    margin-right: 0;
    margin-left: auto;
}

// .first-screen-title__caption {
//     margin-top: calc(var(--gap) * .3);
// }

.first-screen-caption {
    width: calc(49.75%);
    margin-right: 0;
    margin-left: auto;
}

.first-screen__image {
    width: 100%;
    height: 100%;
    position: relative;
}

.first-screen__image__source {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + var(--padding));
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1220px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 767px) {
    .section__first-screen {

        height: calc(90vh - 2 * var(--padding));
        gap: 1rem;
    }

    .first-screen__image__source {
        // width: calc(100% - var(--padding));
    }

    .first-screen-title,
    .first-screen-caption {
        width: 100%;
    }
}