.section__first-screen {
    height: 96vh;
    max-height: 98vh;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 2rem;
    padding-bottom: 6rem;
}

.section__first-screen__content {
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2rem;
    position: relative;
    z-index: 5;
    max-width: 100%;

    * {
        max-width: 100% !important;
    }
}


.first-screen__text {
    // width: calc(100% - 42rem);
}

.first-screen__text * {
    // line-height: 90%;
    // font-family: var(--font-family-secondary);
    font-size: 9.4vw;
    line-height: 70%;
    font-weight: var(--font-weight-medium);
    text-transform: capitalize;
    color: var(--color-text-primary);
}

.first-screen__caption {
    width: 42rem;
}

.first-screen__caption * {
    margin-bottom: 0;
}

.first-screen__image {
    width: 100%;
    height: 100%;
    position: relative;
}

.first-screen__image__source {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1220px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 1024px) {
    .section__first-screen__content {}
}

@media screen and (max-width: 767px) {
    .section__first-screen {
        height: 96vh;
        // margin-top: -45px;
        gap: 1rem;
    }

    .first-screen__text * {
        // font-size: 15.9vw;
        font-size: var(--font-size-4);
        line-height: 100%;
    }

    .section__first-screen__content {
        flex-direction: column;
        gap: .4rem;

        align-items: flex-start;
    }
}