.post-card {
    width: 100%;
    position: relative;

    a {
        width: 100%;
    }
}

.post-card__thumb {
    position: relative;
    width: 100%;
    height: 100%;

    .post-card__thumb__source {
        object-fit: cover;
        width: 100%;
        height: auto;
        aspect-ratio: 4/3;
    }
}

.post-card__content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 10px;
}
.post-card__category{
    a{
        color: var(--color-secondary);
        text-decoration: none;
        font-size: var(--font-size--1);
    }
}