.posts-list__wrapper {}

.posts-list {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;

    margin: 40px 0 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;

    .post-card {
        &:first-child {
            width: calc(50% - var(--grid-gap));
        }
        
        &:nth-child(2) {
            width: calc(26% - var(--grid-gap));
        }
        
        &:nth-child(3) {
            width: 25%;
            width: calc(26% - var(--grid-gap));
        }
    }
}