.post-category {
    display: flex;
    flex-direction: row;
    gap: .7rem;
    writing-mode: sideways-lr;

    li,
    a {
        font-size: var(--font-size--1);
        color: var(--color-text-grey);

        border: none;
        pointer-events: none;
        text-transform: lowercase;
        display: inline-block;
        height: max-content;
    }
}