// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300,400;500;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import '@fancyapps/ui/dist/carousel/carousel.css';
@import '@fancyapps/ui/dist/fancybox/fancybox.css';
@import '@fancyapps/ui/dist/carousel/carousel.thumbs.css';

:root {
    --font-family-primary: 'Roboto', sans-serif;
    // --font-family-primary: 'Open Sans', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    --color-primary: #FEFEFE;
    --color-secondary: #999999;

    --color-black: #060508;
    --color-text-primary: #37352f;
    --color-text-grey: var(--color-secondary);

    --color-accent: #308cf4;
    --color-link-hover: var(--color-accent);
    --color-link-border-hover: rgb(48 140 244 / 15%);

    --color-white: #fff;
    --color-red: #d60427;
    --color-green: #037b0f;
    --color-blue: #1d04d6;
    --color-yellow: #f7e30d;
    --color-purple: #d32ddb;

    --font-size--2: clamp(0.651rem, 0.641rem + 0.0504vw, 0.68rem);
    --font-size--1: clamp(0.7813rem, 0.7573rem + 0.1196vw, 0.85rem);
    --font-size-0: clamp(0.9375rem, 0.894rem + 0.2174vw, 1.0625rem);
    --font-size-1: clamp(1.125rem, 1.0543rem + 0.3533vw, 1.3281rem);
    --font-size-2: clamp(1.35rem, 1.2421rem + 0.5394vw, 1.6602rem);
    --font-size-3: clamp(1.62rem, 1.4617rem + 0.7916vw, 2.0752rem);
    --font-size-4: clamp(1.944rem, 1.7179rem + 1.1304vw, 2.594rem);
    --font-size-5: clamp(2.3328rem, 2.0164rem + 1.5821vw, 3.2425rem);


    // --font-size--2: clamp(0.6076rem, 0.5964rem + 0.0563vw, 0.64rem);
    // --font-size--1: clamp(0.7292rem, 0.7045rem + 0.1232vw, 0.8rem);
    // --font-size-0: clamp(0.875rem, 0.8315rem + 0.2174vw, 1rem);
    // --font-size-1: clamp(1.05rem, 0.9804rem + 0.3478vw, 1.25rem);
    // --font-size-2: clamp(1.26rem, 1.1548rem + 0.5261vw, 1.5625rem);
    // --font-size-3: clamp(1.512rem, 1.3586rem + 0.7672vw, 1.9531rem);
    // --font-size-4: clamp(1.8144rem, 1.5963rem + 1.0904vw, 2.4414rem);
    // --font-size-5: clamp(2.1773rem, 1.8731rem + 1.5208vw, 3.0518rem);

    --grid-gap: 1.88rem;
    --grid-column-gap: 30px;
    --grid-row-gap: 30px;

    --padding: clamp(1rem, 5vw, 3rem);
    --grid-gap: 40px;
    --gap: clamp(1rem, 1vw, 3rem);

    @media screen and (max-width: 1220px) {
        --grid-gap: 35px;
    }

    @media screen and (max-width: 1020px) {
        --grid-gap: 30px;
    }

    @media screen and (max-width: 767px) {
        --grid-gap: 20px;
    }
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem;
}

em {
    font-style: italic !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-primary);
    font-style: normal;
    color: var(--color-text-primary);
}

::selection {
    background: var(--color-accent);
    /* Цвет фона */
    color: var(--color-primary);
    /* Цвет текста */
}

.has-text-24-font-size {
    a {
        font-size: var(--wp--preset--font-size--text-24);
    }
}

body {}

body {
    &.page {
        background-color: var(--color-primary);
        color: var(--color-text-primary);
        width: 100%;

        // display: grid;
        // grid-template-columns: repeat(12, 1fr);
        overflow-x: hidden;
    }
}



a,
// a *,
.link {
    color: var(--color-text-primary);
    opacity: 1;
    transition: all .3s;

    width: fit-content;
    text-decoration: none;
    // border-bottom: 1px solid currentColor;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);

    &:hover {
        // opacity: .8;
        color: var(--color-link-hover);
        border-color: var(--color-link-border-hover);

        * {
            color: var(--color-link-hover);
            border-color: var(--color-link-border-hover);
        }
    }
}

.dashicons,
.dashicons-before:before {
    border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 110%;
}

h1 {
    font-weight: 500;
    // font-size: 60px;
    font-size: var(--font-size-5);
}

h2 {
    font-weight: 500;
    font-size: 34px;
    font-size: var(--font-size-3);
}

h3 {
    font-weight: 500;
    font-size: var(--font-size-2);
}

h4,
h4 a {
    font-weight: 400;
    font-size: var(--font-size-1);
}

h5 {
    font-weight: 400;
    font-size: var(--font-size-0);
}

p,
div,
a,
li {
    font-weight: 400;
    font-size: var(--font-size-0);
    line-height: 140%;
}


div {
    p {
        &:not(:first-child) {
            margin-top: 1rem;
        }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        &:not(:first-child) {
            margin-top: 4rem;
        }
    }
}

:root :where(.is-layout-constrained)>* {
    margin-block-start: .5rem;
    margin-block-end: 0;
}



// .wp-block-heading{
//     margin-top: var(--wp--preset--spacing--30);
// }
.has-grey-color {
    * {
        color: var(--color-text-grey);
    }
}

.hidden {
    display: none !important;
}

.grid_12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
    padding-left: calc(2 * var(--padding));
    padding-right: calc(2 * var(--padding));
    padding-left: calc(var(--padding));
    padding-right: calc(var(--padding));

    @media screen and (max-width: 1020px) {
        padding-left: var(--padding);
        padding-right: var(--padding);
    }
}

.main-padding {
    padding-left: calc(2.5 * var(--padding));
    padding-right: calc(2.5 * var(--padding));
    padding-left: var(--padding);
    padding-right: var(--padding);
}

// Галерея
.f-carousel {
    --f-carousel-slide-width: 100%;
    --f-carousel-spacing: 0;
    --f-carousel-slide-padding: 0 1rem;

    --f-button-prev-pos: 5rem;
    --f-button-next-pos: 5rem;

    --f-button-bg: var(--color-background-card) !important;
    --f-button-color: #fff !important;

    --f-button-width: 38px !important;
    --f-button-height: 38px !important;
    --f-button-border-radius: 50%;

    --f-button-svg-width: 22px;
    --f-button-svg-height: 22px;
    --f-button-svg-stroke-width: 2;

    // --f-button-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    //     rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    //     rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    // background-color: rgba(0, 0, 0, 0.69);

    --f-carousel-dot-color: #fff;
    --f-carousel-dots-height: 10px;
    --f-carousel-dots-width: 15px;

    picture {
        width: 100%;
        height: 100%;
        position: relative;
        // display: inline-block;
        display: flex;
    }

    .f-carousel__nav button {
        // backdrop-filter: blur(4px);
    }
}

.f-button {
    backdrop-filter: blur(4px);
}

.f-carousel__dots {
    z-index: 5;
    background-color: var(--color-background-card);
    backdrop-filter: blur(4px);
    padding: 8px 10px !important;
    width: fit-content;
    border-radius: 40px;
}

.f-carousel__track {
    align-items: flex-start;
}

// Галерея всплывающая
.fancybox__container {
    --fancybox-bg: rgb(0 0 0 / 69%) !important;
}

.fancybox__backdrop {
    backdrop-filter: blur(4px);
}

// скролл
html,
body {
    scrollbar-gutter: stable;
}

/* Скролл */
/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 5px;
    /* ширина для вертикального скролла */
    height: 5px;
    /* высота для горизонтального скролла */
    background-color: #e5e5e500;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: var(--color-text-grey);
    border-radius: 9em;
    transition: all .5s;
}

::-webkit-scrollbar-thumb:hover {
    opacity: .5;
    background-color: var(--color-text-primary);
}

/* Стрелки */
/* ::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
} */
/*# sourceMappingURL=scroll.css.map */

section,
footer,
.section {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
}



#main {

    padding-top: 5rem;
    background-color: var(--color-primary);
    transition-property: all;
    transition-duration: .5s;
    opacity: 1;

    &::before {

        // content: '';
        position: absolute;
        display: inline-block;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(0 0 0 / 65%);
        transition-property: all;
        transition-duration: .5s;

        visibility: hidden;
        opacity: 0;
    }

    &._open {
        // transform: scale(.9);
        // opacity: .9;
        // filter: grayscale(1);
        // filter: blur(5px);
        touch-action: none;

        &::before {
            opacity: 1;
            visibility: visible;
        }
    }

    section {
        &:first-child {
            padding-top: 0;
        }
    }
}

// body {
//     .experience-block:nth-child(n+2) {
//         padding-top: 0;
//     }

//     .experience-block:not(:first-child):not(:last-child) {
//         padding-bottom: 0;
//         padding-top: 7rem;

//         .experience-list__wrapper {
//             padding-bottom: 0;
//         }
//     }

// }



._mobile {
    display: none;
    visibility: hidden;
}

._desktop {
    display: inline-block;
    visibility: visible;
}

.section__heading {
    font-size: var(--font-size-2);
    line-height: 110%;
    font-weight: var(--font-weight-medium);
    color: var(--color-text-primary);
    gap: 1rem;
    margin-bottom: 2.5rem;


    max-width: 700px;
    text-align: left;
}

.section__title {
    font-size: var(--font-size-3);
    line-height: 110%;
    font-weight: var(--font-weight-medium);
    color: var(--color-text-primary);

}

.section__caption {
    // font-weight: 500;
    color: var(--color-text-grey);
    margin-top: .5rem;
}

.post-password__page {
    width: 100%;
    height: 64vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.post-password-form {
    max-width: 330px;
    width: 330px;
    height: fit-content;
    padding: var(--padding) 0;
    margin: 0 auto;
    // text-align: center;
}

// Buttons
.link-button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: none;
    // border-radius: 0.6rem;
    padding: 1rem 1.5rem;
    text-decoration: none;

    width: fit-content;


    position: relative;
    z-index: 1;

    transition: all .5s;

    cursor: pointer;

    &_blue {
        background-color: var(--color-accent);
        color: var(--color-white);
        font-size: var(--font-size-0);
    }


    &._border {

        &::before {
            display: block;
            content: '';
            position: absolute;
            border: 1px solid #fff;
            border-right-color: transparent;
            border-bottom-color: transparent;
            width: 1rem;
            height: 1rem;
            top: 0;
            left: 0;
            z-index: 2;
        }
    }

    &._big {
        padding: 1.1rem 0.62rem;
        // border-radius: .3rem;
    }

    &:hover {
        opacity: .8;
    }
}

.post-password__input {
    padding: 1rem;
    font-size: var(--font-size-0);
    color: #8B8B8B;
    color: var(--color-text-grey);
    border: none;
    background-color: #f2f2f2;
    margin-top: 2rem;
    // border-radius: .2rem;
    width: 100%;

    &::placeholder {
        font-size: var(--font-size-0);
        color: var(--color-text-grey);
    }
}

.post-password__caption {
    color: var(--color-text-grey);
}

.post-password__submit {
    margin-top: 1rem;
    width: 100%;
    text-align: center;
}

.wp-block-list,
ul {
    list-style: none;

    li:not(:first-child) {
        margin-top: .5rem;
    }

    li:first-child {
        margin-top: .2rem;
    }

    li {
        padding-left: .8rem;
        position: relative;

        &:before {
            position: absolute;
            left: 0;
            content: "⋅ ";
        }
    }
}

.wp-lightbox-container {}

.wp-block-image {
    display: flex;
    position: relative;
    flex-direction: row;

    figcaption {
        writing-mode: sideways-lr;
        text-align: center;
        font-size: var(--font-size--1);
        color: var(--color-text-grey);
        line-height: 117%;

        position: absolute;
        height: 100%;
        right: clamp(-2rem, -1.5rem + -2vw, -3rem);
    }
}

.wp-block-image :where(figcaption) {
    margin-bottom: 0;
    margin-top: 0;
}

.single__title {}

.list-style-none {
    li {
        padding: 0;
        list-style: none;
        margin: 0;

        &::before {
            content: none;
        }

        &:first-child {
            margin: 0;
        }

        &:not(:first-child) {
            margin: 0;

        }
    }
}



.single__title-heading {
    margin-top: 1rem;
}

.pd_flex {
    display: flex;
}

.pd_flex-row {
    flex-direction: row;
    gap: var(--gap);
}

.pd_flex-75 {
    flex-basis: 75%
}

.pd_flex-25 {
    flex-basis: 25%
}

.pd_flex-aligned-bottom {
    align-items: flex-end;
}

.single-page--v1 {
    .single__content {
        max-width: 100%;
    }

    .single__title {
        width: 100%;
    }

    .single__title-img {
        width: 100%;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            aspect-ratio: 16/9;
        }
    }

    .single-page__content {

        p,
        h2,
        h3,
        h4,
        h5,
        h6 {
            max-width: 42rem;
        }

        a:has(img) {
            border: none;
        }

        p {
            &:has(img) {
                max-width: 100%;
            }

            &:has(.wp-video, video) {
                max-width: 100%;
            }
        }

        img,
        .wp-video,
        .wp-block-video {
            max-width: 100%;
            margin: 1rem 0;
        }

        .wp-video,
        img,
        .wp-caption,
        .wp-block-video {
            // width: 100% !important;
            max-width: 100% !important;
        }

        .wp-caption {
            position: relative;
        }

        .wp-caption-text {
            writing-mode: sideways-lr;
            text-align: center;
            font-size: var(--font-size--1);
            color: #8B8B8B;
            color: var(--color-text-grey);
            line-height: 117%;
            position: absolute;
            height: 100%;
            margin: auto auto;
            right: clamp(-2rem, -1.5rem - 2vw, -3rem);
            top: 0;
        }
    }

}

.fancybox__container {
    position: fixed;
    z-index: 100;
    --fancybox-bg: rgba(0, 0, 0, 0.69) !important;
    top: 0;
    width: 100vw;
    height: 100vh;

    img {
        max-width: 90vw;
        max-height: 90vh;
    }
}

// .single-post{
//     padding: 0 var(--padding);
// }
@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1220px) {
    .main-padding {
        padding-left: var(--padding);
        padding-right: var(--padding);
    }
}

@media screen and (max-width: 1024px) {

    section,
    .section,
    footer {}

    .section__caption {
        margin-top: .2rem;
    }

    .section__heading {
        margin-bottom: 1.7rem;
    }


}

@media screen and (max-width: 767px) {
    body.page {
        display: flex;
        flex-direction: column;
    }


    #main {

        // margin-top: 54px;
        section:first-child {
            // padding-top: 3.5rem;
        }
    }

    ._mobile {
        display: inline-block;
        visibility: visible;
    }

    ._desktop {
        display: none;
        visibility: hidden;
    }

    .flex-col-reverse--mob {
        flex-direction: column-reverse;
    }

    .wp-block-image {
        flex-direction: column;

        figcaption {
            writing-mode: horizontal-tb;
            text-align: left;

            position: relative;
            right: 0;
            left: 0;
            // margin: .5rem auto 0;
            margin: .5rem 0 0;
            width: 75%;
        }
    }

    .single-page--v1 {
        .single-page__content {

            .wp-caption-text {
                writing-mode: horizontal-tb;
                text-align: left;

                position: relative;
                right: 0;
                left: 0;
                // margin: .5rem auto 0;
                margin: -.5rem 0 0;
                width: 75%;
            }
        }

    }

    .pd_flex-column-mob {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 480px) {

    .post-password-form {
        max-width: 100%;
        width: 100%;
    }
}

// Single page
.single__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // gap: 18rem;
}

.single__content {
    // background-color: var(--color-primary);
    // margin-left: 15rem;
    // width: calc(75% + var(--padding));
    // width: 75%;
    // padding-right: 0;

    h1 {
        margin-bottom: 1.5rem;
    }
}

.single .wp-block-post-title .dashicons {
    display: none;
}

@media screen and (max-width: 1600px) {
    .single__wrapper {
        // gap: 12rem
    }
}

@media screen and (max-width: 1220px) {
    .single__wrapper {
        // gap: 8rem
    }
}

@media screen and (min-width: 1025px) {}

@media screen and (max-width: 1024px) {
    .single__wrapper {
        flex-direction: column;
        // gap: 0;
    }

    .single__content {
        width: 100%;
        padding-right: var(--padding);
    }
}

// .single-page__header__img {
//     width: 100%;
// }

// .single-page__header__img__source {
//     width: 100%;
//     height: auto;
//     object-fit: contain;
// }