@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --font-family-primary: 'Roboto', sans-serif;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    // --color-primary: #1D1D1D;
    --color-primary: #000;
    --color-secondary: #999999;
    --color-gray-dark: #373737;
    --color-background-card: rgba(255, 255, 255, 0.1);
    // background: #272727;
    --color-accent: #f413d9;
    --color-white: #fff;

    --backdrop-filter-card: 700px;
    
    --font-size--2: clamp(0.64rem, 0.7167rem + -0.099vi, 0.6944rem);
    --font-size--1: clamp(0.8rem, 0.847rem + -0.0606vi, 0.8333rem);
    --font-size-0: clamp(1rem, 1rem + 0vi, 1rem);
    --font-size-1: clamp(1.2rem, 1.1795rem + 0.0909vi, 1.25rem);
    --font-size-2: clamp(1.44rem, 1.3899rem + 0.2227vi, 1.5625rem);
    --font-size-3: clamp(1.728rem, 1.6359rem + 0.4093vi, 1.9531rem);
    --font-size-4: clamp(2.0736rem, 1.9231rem + 0.6687vi, 2.4414rem);
    --font-size-5: clamp(2.4883rem, 2.2578rem + 1.0244vi, 3.0518rem);

    
    --grid-gap: 1.88rem;
    --grid-column-gap: 30px;
    --grid-row-gap: 30px;

    --padding: clamp(1.5rem, 5vw, 2rem);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-family-primary);
    font-style: normal;
}

body {}

body.page {
    background-color: var(--color-primary);
    color: #fff;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(12, 1fr);
    overflow-x: hidden;
}

.main-padding {
    padding-top: 0;
    padding-right: var(--padding);
    padding-bottom: 0;
    padding-left: var(--padding);
}

a {
    color: #fff;
    opacity: 1;
    transition: all .3s;

    &:hover {
        opacity: .8;
    }
}

h1 {
    font-weight: 500;
    // font-size: 60px;
    font-size: var(--font-size-5);
    line-height: var(--font-size-5);
}

h2 {
    font-weight: 500;
    font-size: 34px;
    font-size: var(--font-size-4);
    line-height: var(--font-size-4);
}

h3 {
    font-weight: 500;
    font-size: var(--font-size-3);
    line-height: var(--font-size-3);
}

h4,
h4 a {
    font-weight: 400;
    font-size: var(--font-size-2);
    line-height: var(--font-size-2);
}

h5 {
    font-weight: 500;
    font-size: var(--font-size-1);
    line-height: var(--font-size-1);
}

h6 {
    font-weight: 500;
    font-size: var(--font-size-0);
    line-height: var(--font-size-0);
}

p,
div,
a,
li {
    font-weight: 400;
    font-size: var(--font-size-0);
    line-height: 110%;
}

div {
    p {
        &:not(:first-child) {
            margin-top: .5rem;
        }
    }
}

.grid-2-1-1 {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: var(--grid-gap);
}

.grid_12 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--grid-gap);
}

// Галерея
.f-carousel {
    --f-carousel-slide-width: 100%;
    --f-carousel-spacing: 0;
    --f-carousel-slide-padding: 0 1rem;

    --f-button-prev-pos: 5rem;
    --f-button-next-pos: 5rem;

    --f-button-bg: var(--color-background-card) !important;
    --f-button-color: #fff !important;

    --f-button-width: 38px !important;
    --f-button-height: 38px !important;
    --f-button-border-radius: 50%;

    --f-button-svg-width: 22px;
    --f-button-svg-height: 22px;
    --f-button-svg-stroke-width: 2;

    // --f-button-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    //     rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    //     rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    // background-color: rgba(0, 0, 0, 0.69);

    --f-carousel-dot-color: #fff;
    --f-carousel-dot-height: 10px;
    --f-carousel-dot-width: 10px;

    --f-carousel-dots-height: 10px;
    --f-carousel-spacing: 8px !important;

    picture {
        width: 100%;
        height: 100%;
        position: relative;
        display: inline-block;
    }

    .f-carousel__nav button {
        // backdrop-filter: blur(4px);
    }
}

.f-carousel__dots {
    z-index: 5;
    // background-color: rgba(0, 0, 0, 0.69);
    // backdrop-filter: blur(4px);
    // padding: 8px 10px !important;
    width: fit-content;
    // border-radius: 40px;


}

.f-carousel__track {
    align-items: flex-start;
}

// Галерея всплывающая
.fancybox__container {
    --fancybox-bg: rgb(0 0 0 / 69%) !important;
}

.fancybox__backdrop {
    backdrop-filter: blur(4px);
}

// скролл
html,
body {
    scrollbar-gutter: stable;
}

/* Скролл */
/* полоса прокрутки (скроллбар) */
::-webkit-scrollbar {
    width: 5px;
    /* ширина для вертикального скролла */
    height: 5px;
    /* высота для горизонтального скролла */
    background-color: #00000000;
}

/* ползунок скроллбара */
::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    // border-radius: 9em;
    transition: all .5s;
    /* box-shadow: inset 1px 1px 10px #f3faf7; */
}

::-webkit-scrollbar-thumb:hover {
    opacity: .5;
    background-color: #fff;
}

/* Стрелки */
/* ::-webkit-scrollbar-button:vertical:start:decrement {
    background: linear-gradient(120deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(240deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(0deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:vertical:end:increment {
    background:
        linear-gradient(300deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(60deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(180deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:start:decrement {
    background:
        linear-gradient(30deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(150deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(270deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
}

::-webkit-scrollbar-button:horizontal:end:increment {
    background:
        linear-gradient(210deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(330deg, #02141a 40%, rgba(0, 0, 0, 0) 41%),
        linear-gradient(90deg, #02141a 30%, rgba(0, 0, 0, 0) 31%);
    background-color: #f6f8f4;
} */
/*# sourceMappingURL=scroll.css.map */

#main {
    grid-column: 4/13;
    // overflow-x: hidden;
}

@media screen and (max-width: 1220px) {
    #main {
        grid-column: 5/13;
    }
}

@media screen and (max-width: 767px) {
    body.page {
        display: flex;
        flex-direction: column;
    }
}