.posts-list__archive__wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--grid-gap);
    padding: 10rem 0;
    opacity: .3;
}

.posts-list__archive__heading {
    padding: 0 var(--wp--preset--spacing--30);
    align-items: center;
}

.posts-list__archive__caption {
    grid-column: 6/12;
}

.posts-list__archive__title {
    grid-column: 1/3;
}

.posts-list__archive {
    filter: blur(4px);
    --f-carousel-slide-width: 39.7% !important;
    --f-carousel-spacing: 1rem !important;

    .f-carousel__slide {
        &:first-child {
            margin-left: var(--wp--preset--spacing--30);
        }

        &:last-child {

            margin-right: calc(var(--wp--preset--spacing--30) * 2);
        }
    }

    .post-card {
        pointer-events: none;

        a {
            pointer-events: none
        }
    }

    // --f-carousel-slide-padding: 0 1rem;
}