.footer {
    position: relative;
    width: 100%;
    border-top: var(--border);
    margin-top: calc(3 * var(--padding));

    &._hide {
        // transform: translateY(-30%) scale(0.9);
        filter: blur(5px);
        opacity: .7;
        touch-action: none;
    }

    p {
        max-width: none;
    }
}

.footer__content {
    padding: calc(.7 * var(--padding)) 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--padding);
    position: relative;
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.footer__caption {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 1rem;

}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1220px) {}

@media screen and (max-width: 767px) {
    .footer {
        margin-top: calc(3 * var(--padding));
    }

    .footer__content {
        padding: var(--padding);

    }

    .footer__caption {
        align-items: flex-start;
        width: 100%;
        justify-content: space-between;
    }
}