.about-me__main-screen {
    padding: 10rem var(--wp--preset--spacing--30);

}

.about-me__main-screen__title {
    grid-column: 1/3;
}

.about-me__main-screen__description {
    grid-column: 5/10;
}

.about-me__main-screen__image {
    grid-column: 11/13;
}

.about-me__main-screen__image__source {
    width: 100%;
    height: auto;
    object-fit: cover;
}