.posts-list__archive-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 2rem;
    row-gap: 5rem;

    &.f-carousel {
        // --f-carousel-spacing: var(--padding);
        --f-carousel-spacing: 0;
        // --f-carousel-slide-padding: 0 calc(var(--padding) / 2);
        --f-carousel-slide-padding: 0;

        .f-carousel__slide {
            padding: 0 calc(var(--gap) / 2);

            &:first-child {
                padding-left: var(--padding);

                // --f-carousel-slide-padding: 0 var(--padding);
                .post-category {
                    // top: 0;
                    // left: calc(.5 * var(--padding));
                }
            }

            &:last-child {
                padding-right: var(--padding);
            }
        }
    }

    .post-card {
        transition: all .5s;

        .post-category {
            writing-mode: lr;
            position: relative;
            margin-top: calc(.3 * var(--gap));
        }

        &:hover {
            opacity: .8;
        }
    }

    /* Ширина постов на основе классов */
    /* По 4 элемента по 25% с 3 gaps, или 2 элемента по 50% с 1 gap */
    .pd_work_width-25 {
        flex-basis: calc(25% - (var(--gap) * 3 / 4));
    }

    .pd_work_width-50 {
        flex-basis: calc(50% - (var(--gap) / 2));
    }
}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1220px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 767px) {
    .posts-list__archive-gallery {
        &.f-carousel {
            .f-carousel__slide {
                padding: 0 calc(1 * var(--gap));

                &:first-child {
                    // padding-left: calc(2.3 * var(--padding));

                }

                &:last-child {
                    // padding-right: calc(var(--padding));
                }
            }
        }

        .post-card {
            // На планшете: 2 колонки по 50% с 1 gap, или полная ширина
            &.pd_work_width-25 {
                flex-basis: calc(50% - (var(--gap) / 2));
            }

            &.pd_work_width-50 {
                flex-basis: 100%;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .posts-list__archive-gallery {
        .post-card {
            // На мобильных: все элементы в полную ширину
            &.pd_work_width-25,
            &.pd_work_width-50 {
                flex-basis: 100%;
            }
        }
    }
}