.posts-list__archive-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 2rem;
    row-gap: 5rem;

    &.f-carousel{
        // --f-carousel-spacing: var(--padding);
        --f-carousel-spacing:0;
        // --f-carousel-slide-padding: 0 calc(var(--padding) / 2);
        --f-carousel-slide-padding: 0;
        
        .f-carousel__slide{
           padding: 0 calc(var(--padding) / 2);
            &:first-child{
                padding-left: var(--padding);
                // --f-carousel-slide-padding: 0 var(--padding);
            }
            &:last-child{
                padding-right: var(--padding);
            }
        }
    }

    .post-card {
        transition: all .5s;

        &:hover {
            opacity: .8;
        }

        &:nth-child(1) {
            width: 58%;
        }

        &:nth-child(2) {
            width: 38%;
        }

        &:nth-child(3) {
            width: 38%;
        }

        &:nth-child(4) {
            width: 48%;
        }

        &:nth-child(5) {
            width: 50%;
        }

        &:nth-child(6) {
            width: 40%;
        }

        &:nth-child(7) {
            width: 58%;
        }

        &:nth-child(8) {
            width: 38%;
        }
        &:nth-child(9) {
            width: 38%;
        }
        &:nth-child(10) {
            width: 48%;
        }
        &:nth-child(11) {
            width: 50%;
        }
        &:nth-child(12) {
            width: 40%;
        }
        &:nth-child(13) {
            width: 58%;
        }
    }
}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1220px) {}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 767px) {}

@media screen and (max-width: 480px) {}