.posts-list__archive-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    gap: 2rem;
    row-gap: 5rem;

    &.f-carousel {
        // --f-carousel-spacing: var(--padding);
        --f-carousel-spacing: 0;
        // --f-carousel-slide-padding: 0 calc(var(--padding) / 2);
        --f-carousel-slide-padding: 0;

        .f-carousel__slide {
            padding: 0 calc(var(--gap) / 2);

            &:first-child {
                padding-left: var(--padding);

                // --f-carousel-slide-padding: 0 var(--padding);
                .post-category {
                    // top: 0;
                    // left: calc(.5 * var(--padding));
                }
            }

            &:last-child {
                padding-right: var(--padding);
            }
        }
    }

    .post-card {
        transition: all .5s;

        .post-category {
            writing-mode: lr;
            position: relative;
            margin-top: calc(.3 * var(--gap));
        }

        &:hover {
            opacity: .8;
        }

        &:nth-child(1) {
            width: 40%;
        }

        &:nth-child(2) {
            width: 26%;
        }

        &:nth-child(3) {
            width: 32%;
        }

        &:nth-child(4) {
            width: 40%;
        }

        &:nth-child(5) {
            width: 28%;
        }

        &:nth-child(6) {
            width: 32%;
        }

        &:nth-child(7) {
            width: 26%;
        }

        &:nth-child(8) {
            width: 32%;
        }

        &:nth-child(9) {
            width: 40%;
        }

        &:nth-child(10) {
            width: 40%;
        }

        &:nth-child(11) {
            width: 26%;
        }

        &:nth-child(12) {
            width: 32%;
        }

        &:nth-child(13) {
            width: 32%;
        }
    }
}

@media screen and (max-width: 1600px) {}

@media screen and (max-width: 1220px) {}

@media screen and (max-width: 1024px) {}

@media screen and (max-width: 767px) {
    .posts-list__archive-gallery {
        &.f-carousel {
            .f-carousel__slide {
                padding: 0 calc(.5 * var(--gap));

                &:first-child {
                    // padding-left: calc(2.3 * var(--padding));

                }

                &:last-child {
                    // padding-right: calc(var(--padding));
                }
            }
        }

        .post-card {

            &:nth-child(1) {
                width: 78%;
            }

            &:nth-child(2) {
                width: 58%;
            }

            &:nth-child(3) {
                width: 58%;
            }

            &:nth-child(4) {
                width: 48%;
            }

            &:nth-child(5) {
                width: 70%;
            }

            &:nth-child(6) {
                width: 60%;
            }

            &:nth-child(7) {
                width: 78%;
            }

            &:nth-child(8) {
                width: 58%;
            }

            &:nth-child(9) {
                width: 68%;
            }

            &:nth-child(10) {
                width: 68%;
            }

            &:nth-child(11) {
                width: 70%;
            }

            &:nth-child(12) {
                width: 60%;
            }

            &:nth-child(13) {
                width: 78%;
            }
        }
    }
}

@media screen and (max-width: 480px) {}