.post__navigation-wrapper {
    position: fixed;
    top: 8rem;
    z-index: 80;
    left: var(--padding);
}

.post__navigation {
    padding: 1.5rem var(--padding);
    position: sticky;
    left: auto;
    right: var(--padding);
    top: 2rem;
    bottom: 0;
    height: -moz-fit-content;
    height: fit-content;
    // width: 12.5%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto 0 0;
    max-width: 18rem;

    &::before {
        content: '';
        width: .05rem;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.15);
        background-color: var(--color-text-grey);
        border-radius: 10px;
    }

    ul {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;

        li {
            list-style: none;

            &:first-child {
                a {
                    padding-top: 0;
                }
            }

            &:last-child {
                a {
                    padding-bottom: 0;
                }
            }

            a {
                padding: 0.35rem 1rem;
            }
        }
    }

    a {
        color: var(--color-text-grey) !important;

        &.active,
        &:hover {
            color: var(--color-text-primary) !important;
        }

    }
}


.indicator {
    position: absolute;
    left: -.05rem;
    /* Отступ слева */
    width: 0.15rem;
    background-color: var(--color-text-primary);
    /* Цвет индикатора */
    border-radius: 10px;
    transition: top 0.3s ease, height 0.3s ease;

    /* Плавный переход для вертикального перемещения */
    // height: 1.2rem;
    /* Начальная высота индикатора */


}

.post__navigation a {

    display: inline-block;
    border-bottom: 0;
    font-size: var(--font-size-0);
    font-weight: 400;
    text-decoration: none;

    position: relative;
    text-transform: lowercase;
    pointer-events: auto;


}


@media screen and (max-width: 767px) {
    .post__navigation-wrapper {
        position: sticky;
        // top: -.5rem;
        top: 0;
        width: 0;
        margin-bottom: calc(2 * var(--padding)) !important;
        padding-left: 0;
        height: calc(var(--font-size-0));
        height: 0;
    }

    .post__navigation {
        flex-direction: row;
        width: 100%;
        overflow-x: auto;
        position: fixed;
        align-items: center;
        /* left: 0; */
        top: 54px;
        padding: 0 var(--padding);
        left: 0;
        // border-bottom: var(--border);
        // border-bottom: 1px solid var(--color-secondary-blend);
        max-width: none;

        ul {
            display: flex;
            flex-direction: row;
            padding: 0;
            margin: 0;

            li {
                list-style: none;

                &:first-child {
                    background-color: transparent;
                    a {
                        padding-left: 0;
                        padding-top: 0;
                    }
                }

                &:last-child {
                    a {
                        padding-bottom: 0;
                        padding-right: calc(var(--padding) * 1);
                    }
                }

                a {
                    text-wrap: nowrap;
                    padding: 0 0.5rem;
                }
            }
        }

        a {
            text-wrap: nowrap;
            padding: 0 0.5rem;
        }

        &::before {
            content: none;
        }

        &::after {
            // position: relative;
            // right: 0;
            // left: auto;
            // margin: 0 auto;
            // content: '';
            // height: 100%;
            // width: 3rem;
        }

        .indicator {
            display: none;
        }
    }

    .post__navigation::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    /*Убрать полосу прокрутки для всей страницы*/
    ::-webkit-scrollbar {
        width: 0;
    }

}