.post__navigation-wrapper {
    position: sticky;
    top: 3rem;
    z-index: 80;
    float: left;
    left: var(--padding);
}

.post__navigation {
    padding: 1.5rem var(--padding);
    position: sticky;
    left: auto;
    right: var(--padding);
    top: 2rem;
    bottom: 0;
    height: -moz-fit-content;
    height: fit-content;
    // width: 12.5%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 auto 0 0;
    max-width: 18rem;

    &::before {
        content: '';
        width: .05rem;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }

    li {
        list-style: none;
        margin-top: -1px;
        // /* padding: 1.2rem 0;
    }

    a {

        &.active,
        &:hover {
            color: var(--color-text-primary);

            // padding-left: calc(1rem + .15rem);
            // border-left: .15rem solid currentColor;
            // &::before {
            //     background-color: currentColor;
            // }
        }

    }
}


.indicator {
    position: absolute;
    left: -.05rem;
    /* Отступ слева */
    width: 0.15rem;
    background-color: var(--color-text-primary);
    /* Цвет индикатора */
    border-radius: 10px;
    transition: top 0.3s ease, height 0.3s ease;

    /* Плавный переход для вертикального перемещения */
    // height: 1.2rem;
    /* Начальная высота индикатора */


}

.post__navigation ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.post__navigation li {
    list-style: none;
    margin-top: -1px;
}

.post__navigation a {

    display: inline-block;
    border-bottom: 0;
    font-size: var(--font-size--1);
    font-weight: 400;
    text-decoration: none;
    color: var(--color-text-grey);
    padding: 0.4rem 1rem;
    position: relative;
    text-transform: lowercase;
        pointer-events: auto;
}

.post__navigation a.active {
    color: var(--color-text-primary);
}


@media screen and (max-width: 767px) {
    .post__navigation-wrapper {
        position: sticky;
        // top: -.5rem;
        top: 0;
        width: calc(100vw - var(--padding));
        margin-bottom: calc(2 * var(--padding)) !important;
    }

    .post__navigation {
        flex-direction: row;
        width: 100vw;
        overflow-x: auto;
        position: relative;
        align-items: center;
        /* left: 0; */
        position: relative;
        top: 0;
        padding: 0 calc(var(--padding) - 0.5rem) 0;
        border-bottom: var(--border);
        max-width: none;

        a {
            text-wrap: nowrap;
            padding: 0.2rem 0.5rem;
        }

        &::before {
            content: none;
        }

        &::after {
            position: relative;
            right: 0;
            left: auto;
            margin: 0 auto;
            content: '';
            height: 100%;
            width: 3rem;
            background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
        }

        .indicator {
            display: none;
        }
    }

    .post__navigation::-webkit-scrollbar {
        width: 0;
        height: 0;
    }

    /*Убрать полосу прокрутки для всей страницы*/
    ::-webkit-scrollbar {
        width: 0;
    }

}

